@{
    ViewBag.Title = "About";
}
<div style="height: 1000px; background-image: url('Content/DORUKÇANTA.png');background-repeat:no-repeat;background-position:center;">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
</div>

