@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="slider" class="slider-element slider-parallax revslider-wrap min-vh-0 " style="height:%100;width:%100;">
    <div class="slider-inner">

        <div id="rev_slider_779_1_wrapper" class="rev_slider_wrapper fullwidth-container" data-alias="default-slider" style="padding:0px;">

            <div id="rev_slider_779_1" class="rev_slider fullwidthbanner" style="display:none;" data-version="5.1.4">
                <ul>
                    <li class="dark" data-transition="slidehorizontal" data-slotamount="1" data-masterspeed="1000" data-thumb="include/rs-plugin/demos/assets/images//iceberg-250x100.jpg" data-fstransition="fade" data-fsmasterspeed="1000" data-fsslotamount="7" data-saveperformance="off" data-title="Welcome to Canvas">

                        <img src="~/Content/Home/include/rs-plugin/demos/assets/images/iceberg.jpg" alt="video_woman_cover3" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">


                        <div class="tp-fade fadeout fullscreenvideo rs-background-video-layer" data-forcerewind="on" data-volume="mute" data-videowidth="100%" data-videoheight="100%" data-videomp4="~/Content/Home/include/rs-plugin/demos/assets/videos/iceberg.mp4" data-videopreload="preload" data-videoloop="none" data-forceCover="1" data-aspectratio="16:9" data-autoplay="true" data-autoplayonlyfirsttime="false" data-nextslideatend="true" style="z-index: 2;">
                        </div>

                        <div class="tp-caption customin ltl tp-resizeme revo-slider-caps-text text-uppercase" data-x="['left','left','left','left']" data-hoffset="['600','50','50','30']" data-y="['top','top','top','top']" data-voffset="['235','235','235','235']" data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;" data-speed="800" data-start="1000" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 3; color: #FFF; white-space: nowrap;">Hello There!</div>
                        <div class="tp-caption customin ltl tp-resizeme revo-slider-emphasis-text p-0 border-0" data-x="['left','left','left','left']" data-hoffset="['600','50','50','30']" data-y="['top','top','top','top']" data-voffset="['260','260','260','260']" data-fontsize="['60','60','44','44']" data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;" data-speed="800" data-start="1200" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 3; color: #FFF; font-size: 60px; white-space: nowrap;">Welcome to Canvas</div>
                        <div class="tp-caption customin ltl tp-resizeme revo-slider-desc-text text-start" data-x="['left','left','left','left']" data-hoffset="['600','50','50','30']" data-y="['top','top','top','top']" data-voffset="['360','360','360','360']" data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;" data-speed="800" data-start="1600" data-easing="easeOutQuad" data-splitin="none" data-width="['550','550','480','360']" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 3; color: #FFF; max-width: 550px; white-space: normal;">The most Beautiful &amp; Performance Friendly Theme available on the Envato Marketplaces.</div>
                        <div class="tp-caption customin ltl tp-resizeme" data-x="['left','left','left','left']" data-hoffset="['600','50','50','30']" data-y="['top','top','top','top']" data-voffset="['470','470','470','470']" data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;" data-speed="800" data-start="1550" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 3;"><a href="~/Admin/Login" class="button button-border button-large button-light button-rounded text-end m-0"><span>Start Tour</span><i class="icon-angle-right"></i></a></div>
                    </li>

                    <li class="dark" data-transition="slidehorizontal" data-slotamount="1" data-masterspeed="1000" data-thumb="include/rs-plugin/demos/assets/images/space_cover-250x100.jpg" data-saveperformance="off" data-title="Mobile Ready Design">

                        <img src="~/Content/Home/include/rs-plugin/demos/assets/images/space_cover.jpg" alt="video_typing_cover" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">


                        <div class="tp-fade fadeout fullscreenvideo rs-background-video-layer" data-forcerewind="on" data-volume="mute" data-videowidth="100%" data-videoheight="100%" data-videomp4="~/Content/Home/include/rs-plugin/demos/assets/videos/space.mp4" data-videopreload="preload" data-videoloop="none" data-forceCover="1" data-aspectratio="16:9" data-autoplay="true" data-autoplayonlyfirsttime="false" data-nextslideatend="true">
                        </div>

                        <div class="tp-caption customin ltl tp-resizeme revo-slider-emphasis-text text-uppercase" data-x="center" data-hoffset="0" data-y="top" data-voffset="235" data-fontsize="['60','60','46','38']" data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;" data-speed="800" data-start="1000" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-textAlign="center" data-endeasing="Power4.easeIn" style="z-index: 3; white-space: nowrap;">Mobile Ready Design</div>
                        <div class="tp-caption customin ltl tp-resizeme revo-slider-desc-text" data-x="center" data-hoffset="0" data-y="top" data-voffset="400" data-width="['650','650','480','360']" data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;" data-speed="800" data-start="1200" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-textAlign="center" data-endeasing="Power4.easeIn" style="z-index: 3; max-width: 650px; white-space: normal;">Completely Responsive &amp; Retina Ready Design built on the amazing Bootstrap Framework.</div>
                        <div class="tp-caption customin ltl tp-resizeme" data-x="center" data-hoffset="0" data-y="top" data-voffset="503" data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;" data-speed="800" data-start="1350" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 3;"><a href="~/Admin/Login" class="button button-border button-white button-light button-large button-rounded text-end m-0"><span>Read More</span><i class="icon-angle-right"></i></a></div>
                    </li>

                    <li class="dark" data-transition="slidehorizontal" data-slotamount="1" data-masterspeed="1000" data-thumb="~/Content/Home/images/slider/rev/main/s1-thumb.jpg" data-saveperformance="off" data-title="Infinite Possibilities">

                        <img src="~/Content/Home/images/videos/explore-poster.jpg" alt="video_space_cover" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">


                        <div class="tp-fade fadeout fullscreenvideo rs-background-video-layer" data-forcerewind="on" data-volume="mute" data-videowidth="100%" data-videoheight="100%" data-videomp4="~/Content/Home/images/videos/explore.mp4" data-videopreload="preload" data-videoloop="none" data-forceCover="1" data-aspectratio="16:9" data-autoplay="true" data-autoplayonlyfirsttime="false" data-nextslideatend="true">
                        </div>

                        <div class="tp-caption customin ltl tp-resizeme revo-slider-caps-text text-uppercase" data-x="center" data-hoffset="0" data-y="top" data-voffset="235" data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;" data-speed="800" data-start="1000" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 3; white-space: nowrap;">Why Choose Canvas?</div>
                        <div class="tp-caption customin ltl tp-resizeme revo-slider-emphasis-text p-0 border-0" data-x="center" data-hoffset="0" data-y="top" data-voffset="260" data-fontsize="['60','60','46','38']" data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;" data-speed="800" data-start="1200" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-textAlign="center" data-endeasing="Power4.easeIn" style="z-index: 3; white-space: nowrap;">Unlimited Possibilities</div>
                        <div class="tp-caption customin ltl tp-resizeme revo-slider-desc-text" data-x="center" data-hoffset="0" data-y="top" data-voffset="370" data-width="['650','650','480','360']" data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;" data-speed="800" data-start="1400" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-textAlign="center" data-endeasing="Power4.easeIn" style="z-index: 3; max-width: 650px; white-space: normal;">Create whatever you require for your Business to bloom with Tons of Customization Possibilities.</div>
                        <div class="tp-caption customin ltl tp-resizeme" data-x="center" data-hoffset="0" data-y="top" data-voffset="478" data-transform_in="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;" data-speed="800" data-start="1550" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 3;"><a href="~/Admin/Login" class="button button-border button-white button-light button-large button-rounded text-end m-0"><span>Browse</span><i class="icon-angle-right"></i></a></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>